<%- include("template/cabezera", {tituloWeb: "Pagina de servicio"}) %> 



    <h1 class="lola"><%= Title %> </h1>

    <div class="Confa">
        <div class="El1"><img class="img aver" src="/Fotos/ok.png" alt="Imagen"></div>
        <div class="El2">
            <h2>Confiesate/Desahogate</h2>
            <p class="uni">Esta es una pagina hecha sin ningun fin de lugro. Aqui podras dejar tu confesion o desahogo, En esos dias en los que quieres sacar todo pero no sabes a quien contarselo pues ven aqui y dejalo salir aqui, No tienes que dejar tu nombre real, si no quieres que nadie lo sepa solo no lo pongas, puedes usar un alias como: "un loco triste y feliz". algo que te haga reir o algo lo que sea que pienses en ese momento, este sitio esta hecho para eso, Para que dejes salir tus emociones en esos momentos dificiles y que sepas que nadie te juzgara. Que alguna parte del mundo hay alguien leyendolo y deseandote lo mejor del mundo. Si leiste esto espero que estes teniendo un buen dia y si no puedes duerme, mañana sera otro dia y no sabes que te depara la vida, Todo puede mejorar tu sigue echandole ganas y no olvides sonreir.</p>
            <h3>Sugerencias de uso</h3>
            <p class="du">Al crear tu post puedes poner en este una contraseña la misma que luego te servira para eliminar o editar el mismo. Como consejo si usas la misma contraseña en cada uno de tus post no tendras que pensar en cual pusiste en ese post que hiciste hace meses</p>
        </div>
        <div class="El3"><img class="img" src="/Fotos/ok2.png" alt="Imagen"></div>
    </div>


<%- include("template/footer") %>     