<%- include("template/cabezera", {tituloWeb: "Pagina de servicio"}) %>

<div class="Confa">
  <!-- <div class="El1"><img class="img aver" src="/Fotos/ok.png" alt="Imagen"></div> -->
  <div class="El2">
    <h1 class="lola"><%= Title %></h1>
    <!-- <h2>Confiesate/Desahogate</h2>
            <p class="uni">Esta es una pagina hecha sin ningun fin de lugro. </p> -->
    <h3>Sugerencias de uso</h3>
    <p class="du">
      Al crear tu post puedes poner en este una contraseña la misma que luego te
      servira para eliminar o editar el mismo. Como consejo si usas la misma
      contraseña en cada uno de tus post no tendras que pensar en cual pusiste
      en ese post que hiciste hace meses
    </p>
  </div>
  <!-- <div class="El3"><img class="img" src="/Fotos/ok2.png" alt="Imagen"></div> -->
</div>

<%- include("template/footer") %>
